@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
.box_model{
    background-color: aqua;
    width: 250px;
    height: auto;
    padding-top: 10px;
    padding-right: 40px; 
    padding-bottom: 30px;
    padding-left: 20px;

padding: 10px 40px 30px 20px;/*Defino los 4 lados en una linea, sentido del reloj*/
/*
    margin-top: 10px;
    margin-right: 40px;
    margin-bottom: 30px;
    margin-left: 20px;
    

    margin: 10px 40px; /*arriba y abajo*/ 
    
    /*overflow: auto;*/

  /*  border: solid 5px red;
    border-top: solid 8px black;
    border-bottom: solid 8px black;
} */


body{
    background-color: rgb(226, 224, 225);
    font-family: "Roboto", sans-serif;
}
html{
    font-size: 10px;
}

.encabezado{
    background-image: url(./img/paisaje.jpg);
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30vh;

}

.menuSuperior{
    list-style-type: none;
    text-align: center;
}
.menuSuperior{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 1.6rem;
}
.menuSuperior li{
    display: inline-block;
}

.menuSuperior li a:active{
    background-color: rgb(231, 111, 111);
}

.encabezado li{
    background-color: rgb(255, 255, 255);
}
/*contenido*/
.contenido{
    background-color: rgba(0, 61, 48, 0.644);
    padding: 2rem;
    width: 70%;
    float: left;
}
.contenido__imagen{
    background-color: rgb(0, 0, 0);
    width: 50%;
    border-radius: 5px;
}

.contenido__imagen img{
    width: 100%;
    box-shadow: 5px 5px rgba(53, 53, 53, 0.623);
    border-radius: 5px;
}

/*contenido sugerencias*/
.contenido__sugerencias{
    background-color: burlywood;
    border: solid 5px black;
    border-top: solid 8px gray;
    line-height: 2rem;
    padding: 2rem;
    width: 30%;
    float: right
}
.sugerencias__libros{
    width: 90%;
    padding-top: 1rem;

}
.sugerencias__libros img{
    width: 100%;
}
.lista__libros{
    padding-top: 1rem;
}

.footer{
    background-color: black;
    color: white;
    clear: both;
    padding: 2rem;
    text-align: center;
}


/*Formulario*/

.formulario{
    width: 35%;
    margin: 0 auto;

}

.fieldset{
    border: 1px solid #ccc;
    padding: 2rem;
    margin-bottom: 2rem;

}

.legend{
    font-weight: bold;

}

.form-group{
    margin-bottom: 1,5rem;
}

.label{
    display: block;

}

.input, textarea, select{
    width: 100%;
}

.input:focus{
    background-color:rgb(192, 192, 192);
}

.submit-enviar{
    padding: 1rem 2rem;
    background-color: rgb(2, 204, 140);
    border: none;
    border-radius: 1rem;
    font-weight: bold;
    cursor: pointer;
    
}

.submit-enviar:hover{
    background-color: rgba(4, 192, 129, 0.527);
}

.submit-enviar:focus{
    color: darkred;
}

.ejemplo li a:hover{
    color: red;
    
}

.ejemplo li a:active{
    color: rgb(172, 92, 0);
}

.ejemplo li a:focus{
    color: rgb(35, 212, 0);
    
}

.ejemplo li a:visited{
    color: rgb(184, 0, 168);
    font-size: 2rem;
    background-color: bisque;

}

/*ejemplos pseudoclases*/
a:hover{ font-weight:bold; background-color:blue; color:white; text-decoration:underline; }
a:link{ text-decoration:none; color:red; }
a:visited{ color:#999999; }
a:active{ background-color:yellow; color:black; 
}

div:not(.padre){
    padding-left:40px;
    padding-right:40px;
}
.padre div:nth-child(2){ 
    font-weight:bold; color:orange; 
}