html{
    font-size: 10px;
}

#grilla{
    display: grid;
    grid-template-areas: 
    "nav header header"
    "nav producto publicidad"
    "nav servicios publicidad"
    "nav footer footer";
    grid-template-rows: 100px 1fr 1fr 75px;
    grid-template-columns: 20% auto 15% ;
    row-gap: 10px;
    height: 100vh;
    column-gap: 20px
}

.border{
    border: 1px solid black ;
}

header{
    background-color: blueviolet;
    grid-area: header;

}

footer{
    background-color: red;
    grid-area: footer;
}
section#productos{
    background-color: rgb(0, 119, 119);
    grid-area: producto;
}

section#servicios{
    background-color: aquamarine;
    grid-area: servicios;
}
nav{
    background-color: brown;
    grid-area: nav;
}
aside{
    background-color: coral;
    grid-area: publicidad;

}
/*ejemplo grid con media querie*/

@media(min-width: 768px){
    #grilla{
        grid-template-columns: repeat(4, 1fr);
        grid-template-columns: 20% auto 15% ;
    }
    .border{
        border: 4px solid black;
        background-color: rgb(218, 175, 97);
    }
}
/*Escritorio grid*/

@media(min-width: 1024px){
    #grilla{
        grid-template-columns: repeat(3, 1fr);
        display: flex;
    }
    .border{
        border: 4px solid rgb(0, 0, 0);
        background-color: rgb(226, 58, 66);
    }
}