.contenedor_padre{
    background-color: bisque;
    display: flex;
    
}

.caja{
    height: 150px;
    width: 150px;
}

.rojo{
    background-color: red;
    height: 100px;
}

.azul{
    background-color: blue;
}

.rosa{
    background-color: pink;
}

.naranja{
    background-color: orange;
}

.amarillo{
    background-color: yellow;
    height: 200px;
}

.verde{
    background-color: green;
    height: 200px;
}

/*Ejemplo header*/
.header{
    display: flex;
    background-color: rgb(233, 120, 180);
    justify-content: space-between;

}
.logo{
    background-color: blueviolet;
    width: 20%;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}


.menu{
    background-color: chocolate;
}

.menu ul{
    display: flex;
    justify-content: space-around;
}
.login{
    background-color: darkcyan;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;

}